

.addthis_icon img {
   width: 100%;
 }

.a2a_kit.a2a_kit_size_32.a2a_default_style {
  display: inline-block;
}

.product-share--checkout {
  .a2a_kit.a2a_kit_size_32.a2a_default_style {
    width: 100%;
  }
}